#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.animacionMenu{
  background-color: --primary-blue;
  transition: width 0.3s ease, height 0.3s ease;
}

.animacionMenu:hover .view{
  display: none;
}
.animacionMenu:hover .hidden{
  display: block;
}
.hidden{ display: none;}

.hoverLink:hover{
  background-color: #0d1f4d;
  border-radius: 10px;
  margin-left: none !important;
  margin-right: none !important;
}
.hoverLink img{  
  margin-left: auto !important;
  margin-right: auto !important;
}
.animacionMenu:hover .hoverLink img{  
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.botonMenu{
  transition: 0.3s;
  top:0;
  height: 5vh;
  width: 2vw;
}
.botonMenu button svg path,.botonMenu button svg{
  border-radius: 15px !important;
  background: none;
}
.animacionMenu:hover .botonMenu{
  transition: 0.3s;
  margin-left: 12.4vw !important;
}
.hoverLink{
  background: none;
}
.navegadorOpenBody{
  overflow-y: auto !important;
  width: 100%;
}
.navegadorOpenBody::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.navegadorOpenBody::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #DFE9EB;
}

.navegadorOpenBody::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

.navegadorOpenBody::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

.navegadorOpenBody::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #397524;
}

.navegadorOpenBody::-webkit-scrollbar-thumb:hover {
  background-color: #62A34B;
}

.navegadorOpenBody::-webkit-scrollbar-thumb:active {
  background-color: #62A34B;
}
label::after{
  background: #f5f5f5 !important;
  color: black;
  
  
}
label::before{
  background: #f5f5f5 !important;
  color: black;
  
}
input[type="text"],input[type="number"],input[type="datetime-local"],input[type="email"],input[type="date"]{
  background: #f5f5f5 ;
  border: #666666 1px solid;
  color: black;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.bg-secondary-subtle-r{
  background: #a5afb6 ;
}
.bgWhite{
  background: #ffffff !important ;
}
.bgWhiteA::after{
  background: #ffffff !important ;
}

.MuiFormLabel-root{
  color: #000000 !important;
}

.spin {
  /* Ajusta el tamaño de la imagen si es necesario */
  width: 100px;
  height: 100px;

  /* Aplica la animación */
  animation: spin 2s linear infinite;
}
.carousel-item {
  background: #011034 !important;
}
.card {
  background: #f5f5f5 !important;
}
@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

